{{!-- footer --}}
<footer class="page-footer">
      <style>
            .page-footer {
                  margin-top: 15vh;
                  margin-bottom: 3vh;
            }
      </style>
      <div class="container">
            <div class="row">
                  <div class="col l6 s12">
                        <h5 class="white-text">TradeUp 2020 | TheNomads</h5>
                        <p class="grey-text text-lighten-4"></p>
                  </div>
                  <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Developers</h5>
                        <ul>
                              <li><a class="grey-text text-lighten-3" href="https://github.com/markmcdnyu" target="_blank">Mark</a></li>
                              <li><a class="grey-text text-lighten-3" href="https://github.com/MannyMoses" target="_blank">Manny</a></li>
                              <li><a class="grey-text text-lighten-3" href="https://github.com/letsgitthis" target="_blank">John</a></li>
                        </ul>
                  </div>
            </div>
      </div>
      <div class="footer-copyright">
            <div class="container">
                  UT Austin Coding Academy
                  <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
      </div>
</footer>