<!--header-->
{{!-- mcc --}}
<header id="header" class="tt-nav">

    {{!-- nav bar --}}
    <nav>
    <div class="nav-wrapper teal">
      <a href="/" class="brand-logo">TradeUp</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="all_categories">catagories</a></li>
        <li><a href="all_products">products</a></li>
        <li><a href="listing_form">listing</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="all_categories">catagories</a></li>
    <li><a href="all_products">products</a></li>
    <li><a href="listing_form">listing</a></li>
    <li><a href="/">Home</a></li>
  </ul>



</header>