<!--header-->
{{!-- mcc --}}
<header id="header" class="tt-nav">

    {{!-- start integrate --}}
    {{!-- nav bar --}}
    <nav>
    <div class="nav-wrapper teal">
      <a href="/" class="brand-logo">TradeUp</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        {{!-- <li><a href="#!">login/register</a></li> --}}
        <li><a href="/">Home</a></li>
        <li><a href="buyer">Buyer</a></li>
        <li><a href="seller">Seller</a></li>
        {{!-- <li><a href="listing_form"></a></li> --}}
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    {{!-- <li><a href="#!">login/register</a></li> --}}
    <li><a href="/">Home</a></li>
    <li><a href="buyer">Buyer</a></li>
    <li><a href="seller">Seller</a></li>
    {{!-- <li><a href="listing_form">listing</a></li> --}}
  </ul>
  {{!-- end integrate --}}

    <!-- <div class="header-sticky light-header nav-boxed-color">

        <div class="container">
            {{!-- mcc --}}
            <div id="materialize-menu" class="menuzord">

                <!--logo start-->
                <!--<a href="/" class="logo-brand">
                    {{!-- <img class="retina" src="/assets/img/Weblogo/png/Color logo - no background.png" lt="" /> --}}
                </a>-->
                <!--logo end-->

                <!-- onepage menu start-->
                <!--<ul class="nav menuzord-menu pull-right op-nav">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/buyer">Buyer</a>
                    </li>
                    <li>
                        <a href="/seller">Seller</a>
                    </li>
                </ul>

            </div>
        </div>
    </div> -->

</header>
<!--header end-->