
<li>
    <a class="show-user-modal" id="username">Login</a>
</li>



<!-- Username Modal -->
<div id="ask-username" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p id="show-user-title" class="modal-card-title">Enter your name</p>
            <button class="user-modal-close  delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="field">
                <label for="enter-username" class="label">Name</label>
                <div class="control has-icons-left has-icons-right">
                    <input id="enter-username" class="input is-primary" type="text" placeholder="Enter your name">
                    <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                    </span>
                </div>

            </div>
        </section>
        <footer class="modal-card-foot">
            <div class="field is-grouped">
                <div class="control">
                    <button id="submit-user" class="btn btn-lg waves-effect teal lighten-2">Submit</button>
                </div>
                <div class="control">
                    <button id="cancel-user" class="btn btn-lg waves-effect teal lighten-2">Cancel</button>
                </div>
            </div>

    </div>
    </footer>
</div>
</div>