<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        {{!-- css / edit this line for handlebars --}}
		<link rel="stylesheet" href="../../public/css/style.css" type="text/css" />
        {{!-- jquery / edit this line and/or move it down --}}
		<script src="https://code.jquery.com/jquery.js"></script>
        <title> {{ title }} </title>
	</head>
	<body>

        {{!-- nav bar --}}
    <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">TradeUp</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="../../views/poster.html">Poster</a></li>
        <li><a href="../../views/seeker.html">Seeker</a></li>
        <li><a href="#!">login/register</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="../../views/poster.html">Poster</a></li>
    <li><a href="../../views/seeker.html">Seeker</a></li>
    <li><a href="#!">login/register</a></li>
  </ul>

		{{{ body }}}
	</body>
</html>
