{{!-- server.js sends me to index.handlebars --}}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <!-- Materialize Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Materialize CSS library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {{!-- css / edit this line for handlebars --}}
	<link rel="stylesheet" href="/css/style.css">
    <title>TradeUp</title>
</head>

<body>

        {{!-- nav bar --}}
    <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">TradeUp</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Main</a></li>
        <li><a href="poster">Poster</a></li>
        <li><a href="seeker">Trader</a></li>
        <li><a href="#!">login/register</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/">Main</a></li>
    <li><a href="poster">Poster</a></li>
    <li><a href="seeker">Seeker</a></li>
    <li><a href="#!">login/register</a></li>
  </ul>

		{{{ body }}}

    <!-- Jquery library -->
    <script type = "text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> 
    <!-- Materialize JavaScript -->
    <script src="../../public/js/Materialize.js"></script>
    <!-- Materialize Javascript library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

  <footer>
    <h5>TradeUp 2020 | TheNomads</h5>
  </footer>

</html>
