<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description"
    content="TradeUp is a site dedicated to old school bartering for people who are looking to trade an item they no longer want or need for another item someone else is willing to trade and there is no money involved.">
  <!-- Materialize Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- Materialize CSS library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- css / edit this line for handlebars -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>TradeUp</title>
</head>

<body>

  {{{ body }}}

  <!-- moment js library  -->
  <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
  <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- materialize script -->
  <script type="text/javascript" src="js/materialize.js"></script>
  {{!--  products script --}}
  {{!-- <script type="text/javascript" src="js/product.js"></script> --}}
  {{!-- Listing Script --}}
  {{!-- <script type="text/javascript" src="js/listing_form.js"></script> --}}
  {{!-- Category Script --}}
  {{!-- <script type="text/javascript" src="js/category.js"></script> --}}

</body>

</html>