{{> header }}

<div class="row">
	<div class="col m8 offset-m2">
		<div class="container">
			<h1>Categories</h1>
		</div>
	</div>
</div>

	<div class="row mt-4">
		<div class="col m2 s2">
			<a class="btn btn-light" href="/all_products">Products</a>
		</div>
		<div class="col m2 s2">
			<a class="btn btn-light" href="/listing_form">Items</a>
		</div>
	</div>

	<div class="row">
		<div class="col m8 offset-m2"></div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Category</th>
					<th># of Items</th>
					<th>Filter By Category</th>
					<th>Add Item</th>
				</tr>
			</thead>
			<tbody>
				<tr id="form-row">
					<form id="category-form">
						<td colspan="4">
							<input placeholder="Enter a new category" id="category-name" type="text" />
						</td>
						<td><button type="submit" class="btn btn-success">Create Category</button>
						</td>
					</form>
				</tr>
			</tbody>
		</table>
	</div>