{{> header}}

<div class="parallax-container">
    <div class="parallax"><img class="image" src="/images/nomad1.jpeg" /></div>
    <style>
        .parallax-container {
            height: 50vh !important;
            overflow: hidden !important;
        }
        .image {
            width: 100% !important;
            background-position: center !important;
        }
    </style>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <h2 class="overflow-categories">Categories</h2>
    </div>
    <style>
        .overflow-categories {
            overflow: visible;
            margin-top: -30vh;
            color: teal;
        }
    </style>
    <div class="row top-30">
        <div class="col-md-2 col-sm-2">
            <a class="btn btn-default" href="/product">See All Products</a>
        </div>
        <div class="col-md-2 col-sm-2">
            <a class="btn btn-default" href="/listing_form">Post An Item</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="category-container">
                <h1>Item Categories</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th># of Items</th>
                            <th>Filter By Category</th>
                            <th>Add Item</th>
                            <th>Delete a Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="form-row">
                            <form id="category-form">
                                <td colspan="4">
                                    <input placeholder="Enter a name" id="category-name" type="text" />
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success">Create Category</button>
                                </td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Category Script -->
<script type="text/javascript" src="js/category.js"></script>

{{> footer}}