<div class="container">
    <div class="row top-30">
        <div class="col-md-2 col-sm-2">
            <a class="btn btn-default" href="/product">See All Products</a>
        </div>
        <div class="col-md-2 col-sm-2">
            <a class="btn btn-default" href="/listing_form">Post An Item</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="author-container">
                <h1>Authors</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th># of Items</th>
                            <th>Filter By Category</th>
                            <th>Add Item</th>
                            <th>Delete Author</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="form-row">
                            <form id="author-form">
                                <td colspan="4">
                                    <input placeholder="Enter a name" id="author-name" type="text" />
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success">Create Author</button>
                                </td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Custom Script -->
<script src="js/category.js" type="text/javascript"></script>