{{> header}}

<!-- parallax -->
<div class="parallax-container">
    <div class="parallax"><img class="image" src="/images/nomad1.jpeg" /></div>
    <style>
        .parallax-container {
            height: 50vh !important;
            overflow: hidden !important;
        }
        .image {
            width: 100% !important;
            background-position: center !important;
        }
    </style>
</div>

<div class="container hidden">
    <style>
        .poster-title {
            overflow: visible;
            margin-top: -30vh;
            margin-bottom: 20vh;
        }
        .post-it-here {
            color: teal;

        }
    </style>
    <div class="poster-title">
        <div class="row">
        <div class="col-md-4 col-sm-4"></div>
        <h1 class="post-it-here">Post It Here</h1>
        </div>
        <div class="direct-buttons row top-30">
            <div class="col-md-4 col-sm-4"></div>
            <div class="col-md-2 col-sm-2">
                <a class="btn btn-light" href="/product">Products</a>
            </div>
            <div class="col-md-2 col-sm-2">
                <a class="btn btn-light" href="/categories">Categories</a>
            </div>
            {{!-- <div class="col-md-1 col-sm-1"></div> --}}
        </div>
    </div>

    {{!-- card exists here --}}
    <div class="card-panel teal row">
        {{!-- <div class="col m4"></div> --}}
        <div class="col-md-6 offset-md-3">
            <form id="listing">
                {{!-- <label for="input-image"></label>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Browse</span>
                        <input type="file" />
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload file" />
                    </div>
                </div> --}}
                <div class="form-group">
                    <label for="title"></label>
                    <input placeholder="Enter Name of Product" type="text" class="form-control" id="title">
                    <br />
                    <label for="body"></label>
                    <textarea placeholder="Describe Your Product in Detail" class="form-control" rows="10"
                        id="body"></textarea>
                    <div class="form-group">
                        <label for="categories">Select Category:</label>
                        <select class="custom-select" id="categories">
                        </select>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-success submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Listing_Form Script -->
<script type="text/javascript" src="js/listing_form.js"></script>

{{> footer}}