
<!-- file upload card // item may move -->
<div class="container">
    <div class="input-card row">
        <form class="col s12">
            <div class="row">
                <label for="input-image">Materialize File Input</label>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Browse</span>
                        <input type="file" />
                    </div>
                    
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type = "text"
                        placeholder="Upload file" />
                    </div>
                </div>
            </div>
        </form>       
    </div>
</div>
        