<div class="container-fluid">
	<div class="row">
		<div class="col m8 offset-m2">
			<h1 class="trader-title">Trade It Here</h1>
		</div>
	</div>

	<aside>
		<div class="row">
			<div class="col m1"></div>
			<div class=" col m2">
				<ul>
					<li class="btn trader-button"><a href="#!">All</a>
					</li>
					<li class="trader-button"><a href="#!">Tools</a>
					</li>
					<li class="trader-button"><a href="#!">Clothing</a>
					</li>
					<li class="trader-button"><a href="#!">Jewelry</a>
					<li>
					<li class="trader-button"><a href="#!">Outdoor/Sports</a>
					</li>
					<li class="trader-button"><a href="#!">Appliances</a>
					</li>
					<li class="trader-button"><a href="#!">Other</a>
					</li>
				</ul>
			</div>
			<div class="col m1"></div>
		</div>
	</aside>
</div>