{{> header}}

<section id="works" class="section-padding">
  <div class="container">

    <div class="text-center mb-80 wow fadeInUp">
      <h2 class="section-title text-uppercase">SELLER'S PAGE</h2>
      <p class="section-sub">Fill out your garage sale information and promote your sale to people near you who are interested in your items</p>

    </div>

  </div><!-- /.container -->

  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <form name="contact-form" id="contactForm" class="clearfix" action="sendemail.php" method="POST">

          <div class="row">
            <div class="col-md-6">
              <div class="input-field">
                <input type="text" name="name" class="validate" id="name">
                <label for="name">Name</label>
              </div>

            </div><!-- /.col-md-6 -->

            <div class="col-md-6">
              <div class="input-field">
                <label class="sr-only" for="email">Email</label>
                <input id="email" type="email" name="email" class="validate">
                <label for="email" data-error="wrong" data-success="right">Email</label>
              </div>
            </div><!-- /.col-md-6 -->
          </div><!-- /.row -->

          <div class="row">
            <div class="col-md-6">
              <div class="input-field">
                <input id="address" type="tel" name="address" class="validate">
                <label for="address">Address</label>
              </div>
            </div><!-- /.col-md-6 -->

            <div class="col-md-6">
              <div class="input-field">
                <input id="dates" type="text" name="dates" class="validate">
                <label for="dates">Dates</label>
              </div>
            </div><!-- /.col-md-6 -->
          </div><!-- /.row -->

          <div class="input-field">
            <textarea name="message" id="message" class="materialize-textarea"></textarea>
            <label for="message">Message</label>
          </div>
          {{!-- MODAL --}}


          <!-- Modal content-->
          <a href="#myModal" role="button" id="submit-button" class="waves-effect pink darken-1 btn-large btnSeller"
            data-toggle="modal">Submit
            Garage Sale</a>

          <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
            {{!-- <div class="modal-dialog modal-full" role="document"> --}}
              {{!-- <div class="modal-content"> --}}

                <div class="col-xs-12 modalSeller">
                  <div class="col-md-12">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <h5 class="modal-title">Please enter the items that will be on display at your garage sale</h5>

                    <div id="field">
                      <div id="field0" class="item-input-area">
                        <!-- Text input-->
                        <div class="form-group">
                          <label class="col-md-2 control-label sellerItem" for="action_name0">Item</label>
                          <div class="col-md-10">
                            <input id="action_name0" name="action_name0" type="text" placeholder="" class="form-control input-md">

                          </div>
                        </div>
                        <br><br>
                        <!-- Text input-->
                        <div class="form-group">
                          <label class="col-md-2 control-label sellerItem" for="action_price0">Price</label>
                          <div class="col-md-10">
                            <input id="action_price0" name="action_price0" type="text" placeholder="" class="form-control input-md">

                          </div>
                        </div>
                        <br><br>

                        <!-- Text input-->
                        <div class="form-group">
                          <label class="col-md-2 control-label sellerItem" for="action_details0">Details</label>
                          <div class="col-md-10">
                            <input id="action_details0" name="action_details0" type="text" placeholder="" class="form-control input-md">

                          </div>
                        </div>
                        <br><br>
                        <hr>
                        <!-- File Button -->
                        {{!-- <div class="form-group">
                          <label class="col-md-4 control-label" for="action_json">Item Image</label>
                          <div class="col-md-4">
                            <input type="file" id="action_json" name="action_json" class="input-file" accept=".txt,.json">
                            <div id="action_jsondisplay"></div>
                          </div>
                        </div>
                      </div>
                    </div> --}}
                    <!-- Button -->

                    {{!-- <div class="modal-footer"> --}}
                      {{!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Submit</button> --}}
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-12">
                    <button type="button" class="waves-effect light-blue darken-3 btn-large btnSubmit" data-dismiss="modal"
                      id="items-submit">Submit</button>
                    <button id="add-more" name="add-more" class="waves-effect light-blue darken-3 btn-large btnMore">Add
                      More</button>

                  </div>
                </div>


                <br><br>
              </div>

              {{!-- PRACTICE --}}



              {{!-- PRACTICE --}}

              {{!-- MODAL --}}
        </form>
      </div>
      <script src="https://code.jquery.com/jquery.js"></script>

      <script>
        $(document).ready(function () {

          $("#items-submit").on("click", (event) => {
            event.preventDefault();
            alert("Adding New Items")
            let sellerId = $('#myModal').data("sellerId");
            let i = 0;
            $('.item-input-area').each(function () {
              let newItem = {
                name: $("#action_name" + i).val().trim(),
                price: $("#action_price" + i).val().trim(),
                details: $("#action_details" + i).val().trim(),
                sellerId: sellerId
              };


              $.post("/api/seller/items", newItem)
                .then(function (data) {
                  console.log("add.html", data);
                });

              i++;

            });
          });
        });
      </script>
      <script>
        $(document).ready(function () {

          $("#submit-button").on("click", (event) => {
            event.preventDefault();
            alert("Adding New Seller")
            let newSeller = {
              name: $("#name").val().trim(),
              email: $("#email").val().trim(),
              address: $("#address").val().trim(),
              dates: $("#dates").val().trim(),
              message: $("#message").val().trim()
            };
            $.post("/api/seller", newSeller)
              .then(function (data) {
                console.log("new seller added: ", data);
                $('#myModal').data("sellerId", data.id);
              });



          });
        });
      </script>
      <script>
        $(document).ready(function () {
          var next = 0;
          $("#add-more").click(function (e) {
            e.preventDefault();
            console.log('still working')
            var addto = "#field" + next;
            var addRemove = "#field" + (next);
            next = next + 1;
            var newIn = ` <div class="item-input-area" id="field${next}" name="field${next}"><!-- Text input--><div class="form-group"> <label class="col-md-2 control-label sellerItem" for="action_name${next}">Item</label> <div class="col-md-10"> <input id="action_name${next}" name="action_name${next}" type="text" placeholder="" class="form-control input-md"> </div></div><br><br> <!-- Text input--><div class="form-group"> <label class="col-md-2 control-label sellerItem" for="action_price${next}">Price</label> <div class="col-md-10"> <input id="action_price${next}" name="action_price${next}" type="text" placeholder="" class="form-control input-md"> </div></div><br><br><!-- Text input--><div class="form-group"> <label class="col-md-2 control-label sellerItem" for="action_details${next}">Details</label> <div class="col-md-10"> <input id="action_details${next}" name="action_details${next}" type="text" placeholder="" class="form-control input-md"> </div></div><br><br>`;
            var newInput = $(newIn);
            var removeBtn = '<h5 class="modal-title cancel">Cancel</h5><button id="remove' + (next - 1) + '" class="remove-me" ><i class="fa fa-arrow-down fa-3x" aria-hidden="true"></i></button></div></div><div id="field">';

            var removeButton = $(removeBtn);
            $(addto).after(newInput);
            $(addRemove).after(removeButton);
            $("#field" + next).attr('data-source', $(addto).attr('data-source'));
            $("#count").val(next);
            $('.remove-me').click(function (e) {
              e.preventDefault();
              var fieldNum = this.id.charAt(this.id.length - 1);
              var fieldID = "#field" + fieldNum;
              $(this).remove();
              $(".cancel").remove();
              $(fieldID).remove();
            });
          });
        });

      </script>
      <!-- /.col-md-8 -->

      {{!-- <div class="col-md-4 contact-info">
        <address>
          <i class="material-icons brand-color">&#xE8B4;</i>
          <div class="address">
            1355 Market Street, Suite 900<br>
            San Francisco, CA 94103
            <hr>
            <p>Hoffman Parkway, P.O Box 154 Mountain View.<br>
              United States of America.</p>
          </div>
          <i class="material-icons brand-color">&#xE61C;</i>
          <div class="phone">
            <p>Fax: (123) 456-7890<br>
              Phone: (123) 456-7890</p>
          </div>
          <i class="material-icons brand-color">&#xE0B7;</i>
          <div class="mail">
            <p><a href="mailto:#">first.last@example.com</a><br>
              <a href="#">www.yourdomain.com</a></p>
          </div>
        </address>
      </div>--}}
      <!-- /.col-md-4 -->
    </div><!-- /.row -->
  </div>

</section>

{{> footer }}


{{!-- <div class="container hidden">
    <h1 class="poster-title">Post It Here</h1>
    <div class="direct-buttons row top-30">
        <div class="col m2 s2"></div>
        <div class="col m2 col s2">
            <a class="btn btn-light" href="/all_products">Products</a>
        </div>
        <div class="col m2 col s2">
            <a class="btn btn-light" href="/all_categories">Categories</a>
        </div>
        <div class="col m2 s2"></div>
    </div>

    {{!-- card exists here --}}
    <div class="card-panel teal row">
        {{!-- <div class="col m4"></div> --}}
        <div class="col m6 offset-m3">
            <form id="listing">
                <label for="input-image"></label>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Browse</span>
                        <input type="file" />
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload file" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="title"></label>
                    <input placeholder="Enter Name of Product" type="text" class="form-control" id="title">
                    <br />
                    <label for="body"></label>
                    <textarea placeholder="Describe Your Product in Detail" class="form-control" rows="10"
                        id="body"></textarea>
                    <div class="form-group">
                        <label for="category">Select Category:</label>
                        <select class="custom-select" id="categories">
                        </select>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-success submit">Submit</button>
                </div>
            </form>
        </div>
        {{!-- <div class="col m4"></div> --}}
    </div>
</div> --}}