{{> header}}

<div class="products container-fluid">
	<h1 class="trader-title">Trade It Here</h1>
	<div class="direct-buttons row">
		<div class="col m2 s2"></div>
		<div class="col m2 s2">
			<a class="btn btn-light" href="/listing_form">All Items</a>
		</div>
		<div class="col m2 s2">
			<a class="btn btn-light" href="/all_categories">Categories</a>
		</div>
		<div class="col m2 s2"></div>
	</div>

	<aside>
		<div class="row">
			<div class="col m1"></div>
			<div class=" col m2">
				<ul>
					<li class="btn trader-button"><a href="#!">All</a>
					</li>
					<li class="trader-button"><a href="#!">Tools</a>
					</li>
					<li class="trader-button"><a href="#!">Clothing</a>
					</li>
					<li class="trader-button"><a href="#!">Jewelry</a>
					<li>
					<li class="trader-button"><a href="#!">Outdoor/Sports</a>
					</li>
					<li class="trader-button"><a href="#!">Appliances</a>
					</li>
					<li class="trader-button"><a href="#!">Other</a>
					</li>
				</ul>
			</div>
			<div class="col m1"></div>
		</div>
	</aside>
</div>
</div>