{{> header }}

{{!-- start of home page --}}

<div class="parallax-container">
    <div class="parallax"><img src="/images/nomads-parallax1.jpeg"></div>
</div>
<h1 class="home-page-title">Home Page</h1>

{{!-- need to build these partials --}}
{{> team }}
{{> footer }}